/* EstilosPlatos.css */
.card {
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contenedor-platos {
  display: flex !important;
  max-height: 100vh;
  overflow-y: auto;
  flex-wrap: wrap;
  margin-bottom: 20px !important;
}

.card-platillo {
  flex-grow: 1;
  flex-basis: 150px;
  transition: all ease-out 0.2s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.185);
}

.card-platillo:hover {
  transform: scale(1.05, 1.05);
  z-index: 1000;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.platosTabla {
  width: 100%;
}

.precioCard {
  width: auto;
  position: absolute;
  right: 5%;
  bottom: 27%;
  font-size: 13px;
}

.nombre-plato {
  text-align: left;
  font-size: 13px;
  font-weight: 550;
}

.btn-a침adir {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 8px;
  font-weight: bolder;
  transition: all ease-out 0.2s;
}

.btn-a침adir:hover {
  background-color: rgb(6, 214, 93);
}

.btn-a침adir:active {
  background-color: rgb(0, 167, 69);
  transform: scale(1.1, 1.1);
}
.btn-realizarPedido{
  background-color: rgb(6, 214, 93);
  border-color: #28a745;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #204729;
}
.btn-realizarPedido:active{
  background-color: rgb(0, 167, 69);
  color: #ffffff;
}

/* PARA LOS PLATOS SELECCIONADOS Y AGREGADOS A LA PREVENTA */

.tabla-scroll {
  position: relative;
  max-height: 50%;
  overflow-y: auto;
}

.plato-row {
  position: relative;
  /* Necesario para posicionar el bot칩n */
}

.eliminar-btn {
  position: relative;
  right: 0;
  top: 50%;
  z-index: 10;
  width: 30px;
  height: 30px;
  color: rgb(68, 24, 24);
  border-radius: 20px;
  border: 1px solid #ad4c4c;
  transition: all ease-out 0.2s;
}

.eliminar-btn:hover {
  transform: scale(1.1, 1.1);
}

.plato-row:hover .eliminar-btn {
  display: block !important;
  background-color: #b11818;
  color: white;
}

.table-borderless tbody tr td {
  padding: 0.75rem 0;
  transition: background-color 0.3s ease;
}

.table-borderless tbody tr:hover td {
  background-color: #eaf3f3;
  cursor: pointer;
}

.card {
  border-radius: 8px;
}