.card {
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    background-color: #f8fcff!important;
    padding: 20px;
    position: relative;
}


.store-image {
    width: 180px;
    /* Se ajusta al tamaño del contenedor */
    height: auto;
    /* Mantiene la proporción */
    border-radius: 4px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    opacity: 0.6;
    top: 50;
    right: 0;
    position: absolute;
}

.card-body-ventasDahs {
    padding: 20px;
    background: #f2fbff;
}

.totalVentasTitulo{
    font-size:60px!important;
    color: #7099d8;
    font-weight: normal;
}
