/* Estilos base */
.main-container {
  display: flex;
  height: 100vh;
  background-color: #f0f7ff;
  overflow: auto;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* background-color: #0e182c; */
  background-color: #ffffff;
  color: #0e182c;
  overflow-y: auto;
  transition: width 0.3s ease, border-radius 0.3s ease; /* Agregado efecto suave para border-radius */
  width: 250px; 
  
}
/* DISEÑO PARA E SCROL DEL SIDEBAR */
/* Estilo para el scrollbar del sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #dfdfdf; /* Color del pulgar del scrollbar (rojizo suave) */
  border-radius: 10px; /* Redondear el pulgar del scrollbar */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7; /* Color del pulgar al pasar el mouse (más intenso) */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #fff4f4; /* Fondo del track (tono claro para complementar) */
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track:hover {
  background-color: #f8dada; /* Fondo del track al pasar el mouse (más cálido) */
}

/* ================================================================= */
/* Sidebar comprimido */
.sidebar.compressed {
  width: 80px; /* Ancho del sidebar comprimido */
}

/* Items dentro del sidebar */
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 50px; /* Altura consistente */
  margin: 5px auto; /* Márgenes dinámicos */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Esquinas redondeadas */
  background-color: transparent; /* Fondo inicial */
  cursor: pointer; /* Hace clickeable todo el contenedor */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
  text-transform: capitalize;
}

/* Para asegurar que el hijo no sobresalga de los 250px del contenedor */
.sidebar .menu-item {
  max-width: calc(100% - 10px); /* Resta 10px (5px por lado) para asegurar que el hijo no sobresalga */
  margin-left: auto; /* Centrado horizontal */
  margin-right: auto;
  text-align: center; /* Asegura que los íconos estén centrados */
  padding-left: 20px;
}

/* Centrar los íconos en el sidebar comprimido */
.sidebar.compressed .menu-item {
  height: 60px;
  width: 100%;
  justify-content: center; /* Centra todo el contenido horizontalmente */
  padding: 10px 23px; /* Ajusta el padding para reducir espacio */
  cursor: pointer;
  text-align: center;
}

.sidebar.compressed .icon {
  margin: 0; /* Asegúrate de que no haya margen extra alrededor del ícono */
  font-size: 20px;
}

/* Efecto hover y activo para items */
.menu-item:hover,
.menu-item.active {
  width: 100%;
  background-color: #354c69;
  transition: background-color 0.3s ease; /* Efecto suave */
  
}

.menu-list .link-opcion{
  text-decoration: none;
}
/* Ícono con tamaño adecuado */
.menu-item .icon {
  font-size: 18px;
  flex-shrink: 0; /* Evita que el ícono se reduzca */
  color: #2d374d;
  transition: transform 0.3s ease; /* Suaviza cambios de tamaño */
}
/* Íconos */
.icon {
  transition: transform 0.3s ease;
}

/* Texto opcional */
.menu-item span {
  flex-grow: 1; /* Permite al texto ocupar espacio restante */
  text-align: left;
  color: #2d374d;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Sidebar comprimido: Oculta texto */
.sidebar.compressed .menu-item span {
  opacity: 0;
  visibility: hidden;
}

/* Estilo para la opción activa */
.menu-item.active {
  background: white;
  color: #ffffff!important; /* Texto blanco */
  border-left: 4px solid #007be0;
  border-radius: 0px;
}
.menu-item.active span{
  color: #007be0!important;
  font-weight: bold;
}
.menu-item.active .icon{
  color: #007be0!important;
}
/* Ajustes para el enlace dentro de la opción activa */
.menu-item.active a{
  color: #ffffff;
  font-weight: bold; /* Resalta el texto */
 
}

/* Ícono dentro de la opción activa */
.menu-item.active .icon {
  transform: scale(1.2); /* Ícono agrandado */
}

/* Efecto hover para elementos no activos */
.menu-item:hover:not(.active) {
  background-color: #bbbbbb; /* Fondo azul oscuro */
}

/* Cabecera del Sidebar */
.sidebar-header {
  background-color: #ffffff;
  color: #2a2f30; /* Texto blanco */
  display: flex;
  align-items: center;
  justify-content: center; /* Centrado horizontal */
  padding: 15px; /* Espaciado */
  gap: 10px; /* Espacio entre ícono y título */
  transition: height 0.3s ease;
}

/* Ícono de la cabecera */
.sidebar-header .header-icon {
  font-size: 1.8rem; /* Tamaño del ícono */
}

/* Título de la cabecera */
.sidebar-header .header-title {
  font-size: 1.2rem;
  font-weight: 500;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Sidebar comprimido (oculta el título de la cabecera) */
.sidebar.compressed .sidebar-header .header-title {
  opacity: 0;
  visibility: hidden;
}

/* Contenido */
.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease, width 0.3s ease;
  width: calc(100% - 250px);
}

.content.open {
  margin-left: 250px;
}

.content:not(.open) {
  margin-left: 80px;
  width: calc(100% - 80px);
}

/* ========== Header ========== */
.navbar {
  background-color: transparent; /* Fondo transparente */
  color: #ecf0f1; /* Texto blanco */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001; /* Encima del sidebar */
}

.sidebar-toggle {
  background: none;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
  font-size: 1.25rem;
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem; /* Título del navbar */
  font-weight: 500;
}

.navbar-icon {
  background: none;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
  font-size: 1.25rem;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important; /* Redondeo */
  transition: box-shadow 0.3s ease-in-out; /* Efecto suave */
  border: none!important;
  overflow: hidden;
}


.card-header {
  background-color: white!important;
  font-weight: bold; 
  border: none!important;
  border-top-left-radius: 15px; /* Ajuste del borde redondeado */
  border-top-right-radius: 15px; /* Ajuste del borde redondeado */
}

.titulo-card-especial{
  color: #007be0!important;
}
/* Estilo general para las tarjetas de estadísticas */
.stats-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Bordes redondeados */
  background-color: #f8f9fa; /* Fondo claro */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex; /* Usamos Flexbox */
  align-items: center; /* Alineación vertical */
  padding: 5px; /* Espaciado interno */
}

.stats-card:hover {
  transform: translateY(-5px); /* Animación al pasar el mouse */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el contenedor del ícono */
.stats-card .card-body {
  display: flex;
  align-items: center; /* Alineación vertical del ícono y el texto */
}

.stats-card .icon {
  font-size: 2.5rem; /* Tamaño del ícono */
  color: #007be098; /* Color azul del ícono */
  margin-right: 5px; /* Espaciado a la derecha del ícono */
  position: absolute;
  top: 25%;
  left: 20px;
}

.stats-card .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #777777; /* Color oscuro */
}

.stats-card .card-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #007be0; /* Color azul del texto */
}

.nombreUsuarioTabla{
  text-transform: capitalize;
}
.badge-user{
  display: inline-block;
  background-color: #edf6ff; /* Azul Bootstrap */
  color: rgb(86, 121, 161);
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.7rem;
  margin-top: 4px; /* Espaciado entre nombre y badge */
  font-weight: bold;
}

/* ESTILOS PARA TABLAS GENERALES */
/* Color de fondo de la tabla y las filas */



.tablaGeneral .rdt_TableBody .rdt_TableRow {
  background-color: #f5f8fc !important; /* Color de fondo de las filas */
}

.tablaGeneral .rdt_TableBody .rdt_TableRow:hover {
  background-color: #fbfdff !important; /* Color al pasar el mouse */
}

.tablaGeneral .rdt_TableBody .rdt_TableCell {
  background-color: #fbfdff !important; /* Color de fondo de las celdas */
}

/* Color de la cabecera */
.tablaGeneral .rdt_TableHead {
  background-color: #ebeff5!important;
}
.cuerpo-tabla{
  background-color: #ebeff5;
}


  /* COLORES PARA BOTONES DE ACCION DEL SISTEMA */
  .btn-editar {
    min-width: 35px;
    width: auto;
    height: 35px;
    line-height: 15px;
    color: #464646;
    border: none;
    border-radius: 0.375rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

.btn-editar:hover {
    background-color: #202020;
    color: white;
}

.btn-eliminar {
    min-width: 35px;
    width: auto;
    height: 35px;
    line-height: 15px;
    color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 0.375rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

.btn-eliminar:hover {
    background-color: #c82333;
    color: white;
}
.btn-guardar{
    min-width: 35px;
    width: 200px;
    height: 50px;
    line-height: 15px;
    background-color: #007be0;
    color: #e2ecff;
    border:none;
    border-radius: 0.375rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}
.btn-guardar:hover{
  background-color: #024f8f;
  color: #c9d6f0;
}
/* ========== Responsivo ========== */
@media (max-width: 768px) {
  .sidebar {
    width: 80px; /* Sidebar comprimido por defecto en pantallas pequeñas */
    border-radius: 0; /* Eliminar el redondeo en pantallas pequeñas */
  }

  .content {
    margin-left: 80px; /* Ajuste para pantallas pequeñas */
    width: calc(100% - 80px);
  }

  .sidebar.open {
    width: 200px; /* Menor ancho para pantallas pequeñas */
  }

  .content.open {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
